  /* body {
  margin: 0;
  height: 100%;
  font-weight: 100;

  background-image: url('https://www.maxpixel.net/static/photo/1x/Plane-Soft-Travel-White-Airplane-Flight-Blue-Sky-4125770.jpg');} */

  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #db0000;
  }
  
  
   button2{
    position: absolute;
    border: 2px solid white;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 230px;
    height: 56px;
    font-size: 2em;
    border-radius: 5px;
    opacity: .5;
    top: 60vh;
    bottom: 0px;
    left: -300px;
    right: 20px;
    margin:auto;
    transition: .3s;
    text-align: center;
  }
  
  button2:hover{
    border: 2px solid #104F55;
    background-color: rgba(365,365,365,0.5);
    cursor: pointer;
    color: #104F55;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  button3{
      position: absolute;
      border: 2px solid white;
      background: transparent;
      font-family: 'Roboto', sans-serif;
      color: white;
      width: 230px;
      height: 56px;
      font-size: 2em;
      border-radius: 5px;
      opacity: .5;
      top: 60vh;
      bottom: 0px;
      left: 300px;
      right: 20px;
      margin:auto;
      transition: .3s;
      text-align: center;
    }
    
     button3:hover{
      border: 2px solid #104F55;
      background-color: rgba(365,365,365,0.5);
      cursor: pointer;
      color: #104F55;
      opacity: .8;
      transition: .3s;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     }
   
    
  
    .grid-container {
      display: grid;
      grid-template-columns: auto auto ;
      /* background-image: url('https://www.maxpixel.net/static/photo/1x/Plane-Soft-Travel-White-Airplane-Flight-Blue-Sky-4125770.jpg'); */
      padding: 300px ;
      
      /* background-color: transparent ; */
      
    }
    .grid-item {
     
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }
  
    .static {
      position:absolute;
      background: white;
    }
    
    .static:hover {
      opacity:0;
    }
    
  